.main {
  position: relative;
  width: 25%;
  margin-left: 35%;
  margin-top: 2%;
  border-radius: 5%;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 3px rgb(0,0,0,0.5);
  text-align: center;
  justify-content: center;
  display: flex;
  height: 400px;

}

.link{
  margin-top: 10px;
  color: white;
}


.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

.input-box{
  position: relative;
  width: 100px;
  height: 20px;
}

.input-box input{
background: none;
border: none;
outline: none;
color:white;
font-weight: 600;
padding: 0 35px 0 5px;
}

.login-button {
  margin-top: 25px;
width: 50%;
height: 40px;
background: #162938;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #fff;
font-weight: 500
}
.anker{
  color: blue;
  cursor: pointer;
}
@media screen and (max-width: 940px) {

  .name {
    width: auto;
  }
.main{
  width:50%;
  margin-left: 25%;
}
}